# ASUS SDM660 configuration options
config MACH_ASUS
	bool "Asus device"
	depends on ARCH_QCOM
	help
	  Support for Asus products

config MACH_ASUS_SDM660
	bool "Asus SDM660"
	depends on ARCH_SDM660
	select MACH_ASUS
	help
	  Support for SDM660 Asus variants
menu "Asus board selection"

config MACH_X01BD
	bool "X01BD board"
	select MACH_ASUS_SDM660
	help
	  Support for Asus X01BD variant
endmenu
